body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    background: #ffe2a0;
    border: 1px solid slategray;
}

.note-title {
    padding: 4px;
    font-size: 2rem;
    border-bottom: 1px solid slategray;
}

.note-text {
    min-height: 150px;
    max-height: 250px;
    overflow: scroll;
    padding: 4px;
    font-size: 1.125rem;
}
